.mine_container{
    background: url("/images/md_login_bg.jpg");
    height: 100%;
    padding-top: 4vw;
    @include background-size(100% 100%);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);

    .Xurl{
      width: 4.16vw;
      height: 4.16vw;
      margin-left: 3.61vw;
    }
}
