.phoneNubLogin_main{
    @include flex(1);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    width: 100%;
    margin: 0 auto;
    margin-top: 3.72vw;

    .logo{
      width: 43vw;
      margin-bottom: 9.6vw;
    }

    nav{
      @include justify-content(center);
      @include flexbox(flex);
      width: 100%;
      font-size: 2.77vw;
      color: $phoneNubLogin;
      text-align: center;
      display: flex;

        div{
          width: 50%;
          height: 4vh;
          @include border($border-width:0 0 1px 0,$border-color:$phoneNubLogin);

            span{
              display: block;
              width: 100%;
              height: 2.4vh;
              line-height: 2.4vh;
              margin-bottom: 1.44vh;
            }

            &:first-child{
              span{
                @include border($border-width:0 1px 0 0,$border-color:$phoneNubLogin);
              }
            }
          }

        .navLoginActive{
            @include border($border-width:0 0 4px 0,$border-color:#fff);
            color: #fff;
        }
    }

    .swiper-wrapper{
      width: 100%;
      padding-top: 5.29vh;
      padding-bottom: 3.2vh;
        .swiper-slide{
            @include flexbox();
            @include flex-direction(column);
            padding-left: 7.33vw;
            input{
              width: 83.33vw;
              font-size: 3.33vw;
              height: 5.55vw;
              background: rgba(255,255,255,0);
              color:$phoneNubLogin;
              border:0;
              border-bottom: 1px solid $phoneNubLogin;

              &:first-child{
                margin-bottom: 3.04vh;
              }
          }
        }
    }

    .phoneNubLogin_bt{
      @include middle;

      .login_button{
        width: 100%;
        height: 5.13vh;
        background: $activeIcon;
        opacity: 0.7;
        text-align: center;
        line-height: 5.13vh;
        color: #fff;
        margin-bottom: 3.04vh;
      }

      .register{
        width: 100%;
        color: $mine_icon;
        font-size: 2.77vw;
        height: 2.77vw;
        line-height: 2.77vw;
        margin-bottom: 6.25vh;
      }

      .other_login{
        font-size: 2.5vw;
        color: $phoneNubLogin;
        height: 2.5vw;
        line-height: 2.5vw;
      }

      .other_login_img{
        img{
          width: 10vw;
          margin: 2.24vh 2.5vw;
        }
      }
    }
}
