.mine_main{
  @include middle;
  margin-top: 11.20vw;


  .logo{
    width: 43vw;
    margin-bottom: 17.05vw;
  }

  .mine_label{
    width: 100%;
    color: $mine_icon;
    font-size: 2.5vw;
  }

  input{
    width: 100%;
    color:#fff;
    background: rgba(255,255,255,0);
    border: 0;
  }

  .mine_bottom{
    width: 100%;
    height: 0.4vw;
    background: #fff;
    margin-bottom: 6vw;
  }

  .mine_register{
    width: 100%;
    height: 8.53vw;
    background: $activeIcon;
    opacity: 0.7;
    text-align: center;
    line-height: 6vw;
    color: #fff;
    margin-bottom: 5.05vw;
  }

  .phone_login{
    width: 100%;
    color: $mine_icon;
    font-size: 2.77vw;
    height: 2.77vw;
    line-height: 2.77vw;
    margin-bottom: 10.4vw;
  }

  .other_login{
    font-size: 2.5vw;
    color: $phoneNubLogin;
    height: 2.5vw;
    line-height: 2.5vw;
  }

  .other_login_img{
    img{
      width: 10vw;
      margin: 3.72vw 2.5vw;
    }
  }

  .xieyi{
    font-size: 2.5vw;
    color: $phoneNubLogin;
    height: 2.5vw;
    line-height: 2.5vw;

    span{
      color: $mine_icon;
    }
  }
}
