.index-container
 {
    @include flex(1);
    width: 100vw;
    overflow: hidden;
}
.gesture {
    background: #fff;
    width: 100vw;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    header{
        width: 100vw;
        height: 12vw;
        background: #fff;
        font-size: 20px;
        text-indent: 4vw;
        line-height: 12vw;
        font-weight: bold;
        color: #666;
        border-bottom: 1px solid #aaa;
    }
    section{
        width: 100vw;
        overflow: hidden;
        padding-top: 10px;
        @include flexbox();
        @include justify-content(center);
        ul{
            height: 100%;
            width: 92vw;
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            .foot {
                text-align: center;
                height: 0.35rem;
                line-height: 0.35rem;
            }

            .foot img {
                display: inline-block;
                width: 0.16rem;
                /*transform: rotate(0deg);*/
                /*-webkit-transform: rotate(0deg);*/
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
            }

            .down {
                transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
            }

            li{
                width: 100%;
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                > *{
                    width: 100%;
                }
                img{
                    display: block;
                    height: 51.56vw;
                };
                i{
                    padding: 8px 0;
                    line-height: 8vw;
                    font-size: 6.5vw;
                    // @include ellipsis();
                };
                p{
                    line-height: 5.5vw;
                    font-size: 4.5vw;
                    padding: 8px 0;
                }
                b.b1{
                    height: 5.5vw;
                    font-size: 4.5vw;
                    margin: 8px 0;
                    @include flexbox();
                    @include align-items(center);
                    span{
                        height: 100%;
                        line-height: 100%;
                        background: #dadfda;
                        display: block;
                        border-radius: 2vw;
                        padding: 0 4px;
                    }
                }
                b.b2{
                    height: 12px;
                    font-size: 12px;
                    line-height: 12px;
                    margin-bottom: 8px;
                    @include flexbox();
                    @include align-items(center);
                    span:first-child{
                        display: block;
                        height: 100%;
                        width: 70px;
                        border-right: 1px solid #666;
                    }
                    span:nth-child(2){
                        display: block;
                        height: 100%;
                        width: 70px;
                        @include flexbox();
                        @include align-items(center);
                        justify-content: center;
                        border-right: 1px solid #666;
                        img{
                            height: 4vw;
                            width: 4vw;
                        }
                    }
                    span:last-child{
                        width: 120px;
                        text-align: center;
                    }
                }
            }
        }

    }
}
